html {
    position: relative;
    min-height: 100%;
}

section {
    padding: 150px 0;
}

img {
    max-width: 100%;
}

pre,
code {
    background: #f8f8f8;
    color: #333;
}

pre {
    border-left: 2px solid #ccc;
    padding: 10px;
}

code {
    display: inline-block;
    padding: 0 0.5em;
    line-height: 1.4em;
    border-radius: 3px;
}

table {
    empty-cells: show;
    border: 1px solid #cbcbcb;
    width: 100%;
    font-size: 0.9em;
    margin-bottom: 1rem;
}

thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th,
td {
    padding: 0.5em 1em;
}

h1.title,
h2.title {
    font-size: 2.3rem;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px 20px;
    border-left: 5px solid #eee;
    font-style: italic;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #FFD700;
}

a.title:link,
a.title:visited,
a.title:hover,
a.title:active {
    color: black !important;
    text-decoration: none !important;
}

.undertitle {
    color: #FFD700 !important;
}


/* Card */

.card,
.card-body {
    border-radius: 0px;
    border-color: transparent;
}


/* Navbar */

.nav-link {
    font-size: 0.8em;
}

.fa-search {
    color: white;
}

.navbar-light,
.navbar-toggler,
.navbar-light,
.bg-light {
    border-color: white !important;
    background-color: white !important;
}

.text-yellow {
    color: #ffd700 !important;
    font-size: 180% !important;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 0.8em;
}